node_modules
.pnpm-store
*.log
*.tsbuildinfo
dist
dist-*
coverage
.DS_Store
Thumbs.db
ehthumbs.db
benchmark/main/results
benchmark/apps/app-panda/styled-system
*.tmp
*.local
.env*
.idea/
.vscode/
.vscode-test/
.temp
.cache
.dprint-cache/
.turbo/
.next/
.parcel-cache/
.sass-cache/
.nyc_output/
.eslintcache
.prettiercache
.mcp-cache/
.wrangler/
docs/app/.astro/
docs/app/.source/
docs/app/dist/
docs/app/out/
